<footer class="main-footer">
  <ul>
      <li>instagram</li>
      <li>facebook</li>
      <li>altrii</li>
      <li><a href="/admin">ADMIN</a></li>
 </ul>
 
 <table class="adress-info">
     <tr>
         <td class="first-row">indirizzzo:</td>
         <td>via contardo ferrini 2, Lissone MB</td>
     </tr>
     <tr>
         <td class="first-row">tel:</td>
         <td>32485611854</td>
     </tr>
 </table>
 

 </footer>