<header class="main-header">
  <nav class="nav main-nav">
      <ul>
          <li><a href="/">home</a></li>
          <li><a href="/shop">shop</a></li>
          <li><a href="/chisiamo">chi siamo</a></li>
          <li><a href="/contatti">contatti</a></li>
          <li><a href="/nostroconcetti">nostro concetti</li></a>
          <li><a href="/blog"> blog</a></li>
      
      </ul>
  </nav>
</header>