 
<fieldset> 
  <legend>
    <h3>Data del mittente</h3>
    <h2 class="message"></h2>
  </legend>
    <div  class="personal-details">
      <div>
        <div class="form__input-group">
          <label for="username">Nome</label>
          <input class="username" type="text" autofocus name="username" value="Yuji Sato" required>
          <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
          <label for="email">EMAIL</label><input class="email" type="text" name="email" value="u.ji.jp777@gmail.com" required>
          <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
          <label for="password">password</label><input type="password" class="password" type="text" name="password" value="1" required>
          <div class="form__input-error-message"></div>
        </div>   
        <div class="form__input-group">
          <label>Via</label><input  class="user-data" type="text" name="via" value="via contardo ferrini 2" >
          <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
          <label>Cita*</label><input class="user-data" type="text" name="citta" value="Lissone MB">
          <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group"> 
          <label>Tel*</label><input type="tel" class="user-data  input-number" type="text" name="tel" value="323232">
          <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
          <label>CAP</label><input class="user-data input-number" type="text" name="cap" value="">
          <div class="form__input-error-message"></div>
        </div>            
      </div>
     </div>
    </fieldset>
  <button class="btn-submit" type="submit" >Submit</button>
