<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BOMBONMILANO CHI SIAMO</title>
    <link rel="stylesheet" href="/css/bombon.css">
    <meta name="description" content="We create warm and cute bonbonieri for you. You can customize materials as
    you like!!">
</head>
<body>

    <%- include('./includes/_header_nav') %> 

<section class="main-section">
    <div class="container">
        <h1 class="main-headding">CHI SIAMO</h1>
    <img class="self-photo" src="/bombon_images/fotocv (1).jpg" alt="">
        <pre class="introduce">
            difoajdno
            jfioafno
            foanfon
            nfioan
            vdvdvdlplp
            lplpl
            lplpllplpl
            lplplkokk
            kokok
            kokokkok
            
        </pre>
        
    </div>
</section>


    <%- include('./includes/_footer_nav') %> 
</body>
</html>