@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
    box-sizing: border-box ;
    font-family: 'Original Surfer', cursive;
}


body {
    padding: 0px;
    margin: 0px;
    --color-error: #cc3333;
}
.main-section {
    background-image: url("/images/heart_background.jpg") ;
    padding-bottom: 5%;
}

.main-header {
    background-color : rgba(0,0,0,0);
    background-image : url("/images/fruits_background.png");
    background-size : cover;
    background-blend-mode : multiply;
}
 h1 {

     margin-top: 0;
     margin-bottom: 0;
     padding-top: 20px;
     padding-bottom: 20px;
     font-size: 2rem;
 }
 .main-headding {
     margin-top: 30px;
 }

 

 p, pre {
     margin-bottom: 0px;
     padding:10px;
 }


.nav li{
    display: inline-block;
    font-size: 1.5rem;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: .3em;
    
}
a{
    
    text-decoration: none;
    color: black;
}

.nav li:hover {
    background-color:rgba(255,255,255,.8);
    border-radius: .5em;}

.main-nav{
    text-align:center;
    padding: 1.1em;
    margin: auto;
    font-weight: lighter;
    text-decoration: none;
    
}
    
.container {
    max-width: 1200px;
    margin:auto;
    padding: 0 1.5em;
    text-align: center;
}

.main-footer {
    border-top: solid rgba(180, 166, 166, 0.5) 3px;
    background-image: url("/images/cute-background.jpg");
    
    padding-bottom: 50px;
}


.main-footer ul {
    margin: 0px;
    list-style: none;
    padding: 20px;
    
}

.main-footer li {
    margin: 5px;
}

.adress-info {
    float: right;
    padding-right: 20px;
}

.first-row {
    text-align: right;
}


.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.carousel-description-container{
    display: flex;
    vertical-align: middle;
    margin: auto;
    justify-content: center;
}

.carousel-description-container >.slide-preview {
    width: 50px;
    height: 200px;
}

.carousel-description-container >.carousel-container {
    width:280px;
}

.carousel-description-container >.desc-product {
    width: 30%;
}


.carousel-container {
    width: 300px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto; 
}
.carousel-slide img {
    width: 300px;
    padding: 20px;       
}

.prev-btn{
    position:absolute;
    top: 40%;
    z-index: 10;
    left:10%;
    cursor:pointer;
    font-size:3rem;  
}

.next-btn {
    position:absolute;
    top: 40%;
    z-index: 10;
    right: 10%;
    cursor:pointer;
    font-size:3rem;
}

.slide-preview {
    display: flex;
    flex-wrap: wrap;  
    
}
.slide-preview img{
    width:60px;
    margin:5px; 
} 

.btn-proceed {
    width: 60px;
}

.btn-proceed:hover {
    cursor: pointer;
}




.status-nav {
    text-align: right;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-top:black solid 5px;
    border-bottom:black solid 5px;
 
}


.status-nav-element   {
    display: inline-flex;
    position: relative;
    margin: 10px;
    padding: 10px;
}

a.status-nav-element {
    background-color: #82b534;
    border-radius: 5px; 
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}


.qty-input {
    width: 60px;
}

button:hover{
    cursor: pointer;
    
}

@media (max-width: 720px) {
    .carousel-description-container >.slide-preview {
        width: 50px;
        
    }
    
    .carousel-description-container >.carousel-container {
        width:250px;
        height: 250px
    }
    
    .carousel-container {
        width: 250px;
        margin: 10px;
        margin-right:3px;
        
        position: relative;
        overflow: hidden;
    }
    
    .carousel-slide {
        display: flex;
        width: 250px;
        height: 250px;
        margin: auto; 
    }
    .carousel-slide img {
        width: 250px;
        padding: 20px;       
    }
    
    .slide-preview img{
        width:50px;
        margin:5px; 
    }
    
}



.desc-product {
    display: block;
    margin:10px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.first-column {
    text-align: right;
}
.second-column {
    text-align: left;
}

table {
    border: 2px solid rgba(180, 166, 166, 0.5);
    background: #fff;
    padding:3%;
    
}

tr td {
    vertical-align: top;
}

.fieldset h3 {
    margin: 12px 0;
    color: #8ebf42;
}

.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 800px;
    margin:15%;
    margin-bottom: 0px;
}

form {
    width: 100%;
    padding: 20px;
}
fieldset {
    border: none;
    border-top: 1px solid #8ebf42;
}

.place-details, .personal-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.place-details >div, .personal-details >div >div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.place-details >div, .personal-details >div, input, label {
    width: 100%;
}
label {
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
}
input {
    padding: 5px;
    vertical-align: middle;
}
.checkbox {
    margin-bottom: 10px;
}
.gender {
    width: calc(100% + 26px);
    padding: 5px 0;
}

.gender input {
    width: auto;
} 
.gender label {
    padding: 0 5px 0 0;
} 


.checkbox input, .children input {
    width: auto;
    margin: -2px 10px 0 0;
}
.checkbox a {
    color: #8ebf42;
}
.checkbox a:hover {
    color: #82b534;
}
button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #8ebf42; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
button:hover {
    background: #82b534;
}

@media (min-width: 568px) {
    .place-details >div, .personal-details >div {
        width: 50%;
    }
    label {
        width: 40%;
    }
    input {
        width: 60%;
    }
    select, .children, .gender, .bdate-block {
        width: calc(60% + 16px);
    }
}

