<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BOMBON BLOGCONTENTS</title>
    <link rel="stylesheet" href="/css/bombon.css">
    <meta name="description" content="We create warm and cute bonbonieri for you. You can customize materials as
    you like!!">
</head>
<body>
    <%- include('../includes/_header_nav') %> 
<section class="main-section blog-section">
    <div class="container">
        <%- include('../includes/_status_nav') %>
        <h1 class="main-headding">BLOG</h1>
    <div class="blog-headding">

        <h2 class="blog-title">workout of the day</h2>
        <span class="blog-date">3-31-2021</span>
        
    </div>

    <div class="blog-text-wrapper">
        <pre>
jijjjjj
jjjjjjj
jjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjj

       </pre>
    </div>
        
       
    </div>
</section>
<div class="blog-admin">
    <span><a href=""> edit</a></span>
    <span><a href=""> delete</a></span>
</div>

<%- include('../includes/_footer_nav') %> 
</body>
</html>